.dropdownMenu {
  margin: 2%;
  width: 70%;
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all ease-in-out 300ms;
}

.dropdownOptions {
  position: absolute;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 0px;
  transition: all 500ms;
}

.dropdownClicked {
  display: flex;
  height: 150px;
  margin-top: 150px;
  opacity: 1;
}

.optionsBtn {
  margin: 10px;
  color: black;
}

.option1 {
  background-color: #e0e1e9;
}

.option2 {
  background-color: #ddfdfe;
}

.clicked {
  display: none;
}

.dropdownContent {
  position: absolute;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  align-items: center;
  bottom: 10%;
  left: 5%;
  height: 40%;
}

.content-header {
  font-size: 30px;
  font-weight: 400;
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.dropdownContent p {
  margin: 10px;
}

.openMail {
  margin: 10px;
}

@media only screen and (max-width: 1200px) {
  .dropdownContent {
    flex-wrap: wrap;
  }
}
