.homeMasthead {
  /* position: absolute; */
  /* top: 0; */
  display: flex;
  height: 100%;
  width: 100%;
  left: 0;
  z-index: -1;
}

.masthead-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 200px;
  transform: translate(-50%, -50%);
}

.aboutButton {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
}

.aboutButton:after {
  content: "Behind the scenes";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  text-align: center;
  border-radius: 5px;
  transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.aboutButton:before {
  content: "Learn More";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  position: absolute;
  width: 100%;
  height: 100%;
  left: -100%;
  opacity: 0;
  border-radius: 5px;
  color: black;
  background-color: beige;
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.aboutButton:hover {
  background-color: beige;
  color: black;
}

.aboutButton:hover:before {
  left: 0;
  opacity: 1;
  color: black;
}

.aboutButton:hover:after {
  left: 100%;
  opacity: 0;
}
