.menuPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

.menuImage {
  width: 350px;
  margin: 2% 0 1% 0;
}

.merchPage {
  display: flex;
  flex-direction: row;
  margin-top: 3%;
  height: 120vh;
  width: 90%;
}
