.merchandises {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.merchandise {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 550px;
  width: 350px;
  margin: 10px 10px 20px 10px;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toggleInfo {
  display: none;
}

.product-name {
  width: 100%;
  margin-top: 5px;
  letter-spacing: 1px;
  text-align: center;
}

.product-price {
  font-weight: 700;
  font-size: 18px;
}

.product-image {
  transition: all 300ms;
}

.product-image:hover {
  transform: scale(1.05);
}

.add-to-cart {
  transition: all 300ms;
  display: flex;
  justify-content: center;
  width: 200px;
}

.add-to-cart p {
  margin-left: 15px;
}

.added-feedback {
  position: absolute;
  left: 50%;
  bottom: -10%;
  transform: translate(-50%, 200%);
}

.table-headers {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.table-product-image {
  /* width: 250px; */
  border: 1px solid black;
}
