@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body,
html {
  scroll-behavior: smooth;
}

a {
  color: white;
  text-decoration: none;
}

/* reusable components */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 250px;
  height: 50px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  color: white;
  background-color: black;
  overflow: hidden;
  z-index: 1;
  font-weight: 700;
  transition: all 0.09s ease-in;
}
